<md-content flex="100">
  <div>
    <md-card>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            <span>Self Serve Signup Prototype</span>
          </h2>
        </div>
      </md-toolbar>
      <md-card-content >

        <div layout="row" layout-align="start center">
          <!--<md-button class="md-fab md-mini md-primary no-click">-->
            <!--&lt;!&ndash;<md-icon md-svg-icon="action:done"></md-icon>&ndash;&gt;-->
            <!--<i class="material-icons">&#10003;</i>-->
          <!--</md-button>-->
          <div class="circle">&#10003;</div>
          Sign Up
        </div>
        <div layout="row" layout-align="start center">
          <!--<md-button class="md-fab md-mini md-primary no-click">2</md-button>-->
          <div class="circle">2</div>
          Link Ad Account
        </div>

        <div layout="row" layout-align="center start" ng-show="ctrl.selectedStep == 1" class="step">
          <md-content class="md-padding">
            <div class="md-padding" layout="row" layout-xs="column" layout-sm="column" layout-align="center center">
              <md-card class="adwords-logo" ng-click="ctrl.openOauthPlayground()"></md-card>
              <md-card class="adcenter-logo"></md-card>
            </div>
            <div layout="row" layout-align="end center">
              <md-button ng-click="ctrl.nextStep()" id="step1Next">Next</md-button>
            </div>
          </md-content>
        </div>

        <div layout="row" layout-align="start center">
          <!--<md-button class="md-fab md-mini md-primary no-click">3</md-button>-->
          <div class="circle">3</div>
          Account Setup
        </div>
        <div layout="row" layout-align="center start" ng-show="ctrl.selectedStep == 2" class="step">
          <md-content  class="md-padding">
            <form name="accountSetup" ng-submit="ctrl.submitCurrentStep(ctrl.stepData[2].data)">
              <div layout="row" layout-align="center top">
                <div flex="nogrow" style="width: 400px">
                  <!--<h4>Please setup your password</h4>-->
                  <md-input-container class="md-block">
                    <input type="text" name="email" ng-model="ctrl.stepData[2].data.email" disabled/>
                  </md-input-container>

                  <md-input-container class="md-block">
                    <input  type="text" name="agencyName" ng-model="ctrl.stepData[2].data.agencyName" />
                  </md-input-container>

                  <md-input-container class="md-block">
                    <label>Your password here</label>
                    <input ng-disabled="ctrl.stepData[2].data.completed" type="password" name="password" ng-model="ctrl.stepData[2].data.password" required />
                    <div ng-messages="step1.password.$error">
                      <div ng-message="required">
                        Password required
                      </div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Password confirmation</label>
                    <input ng-disabled="ctrl.stepData[2].data.completed" type="password" name="password_confirmation" ng-model="ctrl.stepData[2].data.password_confirmation" required />
                    <div ng-messages="step1.password.$error">
                      <div ng-message="required">
                        Password required
                      </div>
                    </div>
                  </md-input-container>
                </div>
              </div>
            </form>
            <div layout="row" layout-align="end center">
              <md-checkbox class="md-primary" ng-model="ctrl.termsAccepted">Accept terms and conditions</md-checkbox>
              <md-button type="submit" ng-disabled="!ctrl.stepData[2].data.password || !ctrl.stepData[2].data.password_confirmation || ctrl.showBusyText || !ctrl.termsAccepted" class="md-primary md-raised">START FREE TRIAL</md-button>
            </div>
          </md-content>
        </div>
      </md-card-content>
    </md-card>
  </div>
</md-content>