<md-content flex="100">
  <div>
    <md-card>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            <span>Self Serve Signup Process</span>
          </h2>
        </div>
      </md-toolbar>
      <md-stepper-card-content class="md-no-padding">
        <md-steppers md-dynamic-height md-stretch-steppers="always" md-selected="ctrl.selectedStep" md-busy-text="'Processing...'" md-busy="ctrl.showBusyText">
          <md-step label="Welcome" ng-disabled="ctrl.stepProgress < 1">
            <md-step-body>
              <form name="Welcome" ng-submit="ctrl.submitCurrentStep(ctrl.stepData[0].data)">
                <md-content class="md-padding">
                  <div layout="row" layout-align="center top">
                    <div flex="nogrow">
                      <h4>Please validate your info</h4>
                      <md-input-container class="md-block">
                        <label>Your email</label>
                        <input ng-disabled="true" name="email" ng-model="ctrl.stepData[0].data.email"/>
                      </md-input-container>
                      <md-input-container class="md-block">
                        <label>Your organisation</label>
                        <input ng-disabled="true" name="organisation" ng-model="ctrl.stepData[0].data.organisation" />
                      </md-input-container>
                      <md-checkbox ng-model="ctrl.stepData[0].data.validated">I confirm that my infos are valid</md-checkbox>

                    </div>
                  </div>
                </md-content>
                <md-step-actions layout="row">
                  <div flex layout="row" layout-align="end top">
                    <md-button type="submit" ng-disabled="!ctrl.stepData[0].data.validated || ctrl.showBusyText" class="md-primary md-raised">NEXT</md-button>
                  </div>
                </md-step-actions>
              </form>
            </md-step-body>
          </md-step>
          <md-step label="Link Ad Accounts" ng-disabled="ctrl.stepProgress < 2 || !ctrl.stepData[0].data.validated">
            <md-step-body>
              <div layout="row" layout-align="center center" flex>
                <h4>Setup your Ad Accounts here</h4>
              </div>
              <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
                <md-card class="adwords-logo"></md-card>
                <md-card class="adcenter-logo"></md-card>
              </md-content>
              <md-step-actions layout="row">
                <div flex layout="row" layout-align="end top">
                  <md-button ng-click="ctrl.moveToPreviousStep()">PREVIOUS</md-button>
                  <md-button ng-click="ctrl.submitCurrentStep(ctrl.stepData[1].data)" ng-disabled="!ctrl.stepData[1].data.validated || ctrl.showBusyText" class="md-primary md-raised">NEXT</md-button>
                </div>
              </md-step-actions>
            </md-step-body>
          </md-step>
          <md-step label="Account Set Up" ng-disabled="ctrl.stepProgress < 3 || !ctrl.stepData[0].data.validated">
            <md-step-body>
              <form name="accountSetup" ng-submit="ctrl.submitCurrentStep(ctrl.stepData[2].data)">
                <md-content class="md-padding">
                  <div layout="row" layout-align="center top">
                    <div flex="nogrow" style="width: 400px">
                      <h4>Please setup your password</h4>
                      <md-input-container class="md-block">
                        <label>Your password here</label>
                        <input ng-disabled="ctrl.stepData[2].data.completed" type="password" name="password" ng-model="ctrl.stepData[2].data.password" required />
                        <div ng-messages="step1.password.$error">
                          <div ng-message="required">
                            Password required to proceed on next step.
                          </div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block">
                        <label>Password confirmation</label>
                        <input ng-disabled="ctrl.stepData[2].data.completed" type="password" name="password_confirmation" ng-model="ctrl.stepData[2].data.password_confirmation" required />
                        <div ng-messages="step1.password.$error">
                          <div ng-message="required">
                            Password required to proceed on next step.
                          </div>
                        </div>
                      </md-input-container>
                    </div>
                  </div>
                </md-content>
                <md-step-actions layout="row">
                  <div flex layout="row" layout-align="end top">
                    <md-button ng-click="ctrl.moveToPreviousStep()">PREVIOUS</md-button>
                    <md-button type="submit" ng-disabled="!ctrl.stepData[2].data.password || !ctrl.stepData[2].data.password_confirmation || ctrl.showBusyText" class="md-primary md-raised">CREATE ACCOUNT</md-button>
                  </div>
                </md-step-actions>
              </form>
            </md-step-body>
          </md-step>
        </md-steppers>
      </md-stepper-card-content>
    </md-card>
  </div>
</md-content>