body{
  margin-top: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
page-tweets{
  display:flex;
  flex-direction:row;
  height: 100%;
  width: 100%;
  position:absolute;
}
tweet-sidebar{
  width: 30%;
  background: #fff;
  height: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
tweet-sidebar.sidebar-collapsed{
  width: 35px;
  padding: 0px;
}
tweet-sidebar.sidebar-collapsed .collapsed-content{
  display: none;
}
tweet-main{
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}
tweet-topbar{
  height: 250px;
  background: #BFE0EC;
  padding: 20px;
  flex-shrink: 0;
}
tweet-topbar.topbar-collapsed{
  padding: 0px;
  height: 35px;
}
tweet-topbar.topbar-collapsed .collapsed-content{
  display: none;
}
tweet-content{
  flex-grow: 1;
  background: #f1f1f1;
  overflow-y: auto;
  height: 100%;
  padding: 20px;
}

.dp-collapse{
  background: #337ab7;
  width: 35px;
  text-align:center;
  padding: 10px;
  cursor:pointer;
  display:block;
}
.dp-collapse:hover{
  background: #fff;
}
.dp-collapse-right{
  float: right;
}
.dp-collapse-center{
  margin: auto;
  text-align:center;
}
.starred{
  color: yellow;
}
dp-star{
  cursor:pointer;
  font-size: 30px;
  padding-top: 20px;
}
.dp-tweet-icon{
  font-size: 20px;
  color: #ccc;
  margin-right: 15px;
}
.dp-tweet{
  background-color: #fff;
  padding: 20px;
}
.dp-tweets{
  padding: 20px;
}
textarea {
  resize: none;
}

//=============== CUSTOM ================

md-card.adcenter-logo {
  width: 200px;
  height: 200px;
  background-image: url('../content/images/adcenter.png');
}
md-card.adwords-logo {
  width: 200px;
  height: 200px;
  background-image: url('../content/images/myadwords.png');
}
div.acquisio-logo {
  width: 235px;
  height: 42px;
  background-image: url('../content/images/acquisio-logo.png');
}

.md-button.no-click {
  cursor: default;
}


.circle {
  background: #106cc8;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  position: relative;
  color: white;
  text-align: center;
  margin: 0 12px 12px 0;
}

.title {
  line-height: 32px;
  font-weight: bold;
}

//.animate-enter,
//.animate-leave
//{
//  -webkit-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
//  -moz-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
//  -ms-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
//  -o-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
//  transition:1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
//}
//
//.animate-enter {
//  top: 100%;
//}
//.animate-enter.animate-enter-active {
//  top: 0;
//}
//
//.animate-leave {
//  top: 0;
//}
//.animate-leave.animate-leave-active{
//  top: -100%;
//}

.animate-show {
  height: 100%;
  max-height: 100%;
  opacity: 1;
  //padding: 100px;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 1s;
}

.animate-show.ng-hide {
  height: 0;
  max-height: 0;
  transition: all linear 1s;
  //padding: 0 100px;
}


//.animate-show.ng-hide {
//  height:0;
//  transition:height 0.35s ease;
//  overflow:hidden;
//  position:relative;
//}
//
//.animate-show {
//  height:100%;
//  transition:height 0.35s ease;
//  overflow:hidden;
//  position:relative;
//}
//
//.animate-show.ng-hide-remove,
//.animate-show.ng-hide-add {
//  /* remember, the .hg-hide class is added to element
//  when the active class is added causing it to appear
//  as hidden. Therefore set the styling to display=block
//  so that the hide animation is visible */
//  display:block!important;
//}
//
//
//.animate-show.ng-hide-add {
//  animation-name: hide;
//  -webkit-animation-name: hide;
//
//  animation-duration: .5s;
//  -webkit-animation-duration: .5s;
//
//  animation-timing-function: ease-in;
//  -webkit-animation-timing-function: ease-in;
//}
//
//.animate-show.ng-hide-remove {
//  animation-name: show;
//  -webkit-animation-name: show;
//
//  animation-duration: .5s;
//  -webkit-animation-duration: .5s;
//
//  animation-timing-function: ease-out;
//  -webkit-animation-timing-function: ease-out;
//}
